#title{
    color: azure;
    background-color: black;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#a{
    background-color: peachpuff;
}
#d{
    color: brown;
    font-size: 25px;
}
#e{
    color: gold;
    font-size: 20px;
}
#b{
    background-color: white;
}
#f{
    color: black;
    font-size: 25px;
}
#g{
    color: gold;
    font-size: 20px;
}
#c{
    background-color: white;
}
#h{
    color: black;
    font-size: 25px;
}
#i{
    color: gold;
    font-size: 20px;
}